

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.table tbody > tr > td.vertical-align {
    vertical-align: middle;
}

.table.vertical-align-table tbody > tr > td {
    vertical-align: middle;
}

span.navbar-form-p {
    display:block; 
    padding-left: 15px
}

.action-header {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
/*    margin-bottom: 0;*/
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}














